@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #171512;
  background-color: #FEFCFB;
}
